@import "tailwindcss";

#root {
	padding: 0;
	margin: 0;
	text-align: left;
}

/* Custom styles for code syntax highlighting */
pre code {
	display: block;
	padding: 0;
	color: inherit;
	background: transparent;
}
